.App {
  text-align: center;
  /* display: inline; */
  background-color: rgba(175, 171, 171, 0.972);
 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px ; 

  background-image:url( "inita-middle-header-01-1024x861.png");
 background-size: 100% ;
  

  
}


 @media screen and (min-width: 600px) {
  .App {
      margin-left: 20%;
  margin-right: 20%;
    }
  }